{% extends "admin/base.html" %}

{% block content %}
    {% if user %}
    <h1>Hello, {{ user.email }}!</h1>
    {% else %}
    <h1>Hello</h1>
    {% endif %}

    {% if complaints %}
        <h2>Recent Complaints</h2>
        <table>
        <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
        <td>Link</td>
        </tr>
            {% for complaint in complaints %}
                <tr>
                {% for header in headers %}
                    <td>{{ complaint.__dict__[header] }}</td>
                {% endfor %}
                <td><a href="{{ url_for("admin.view_complaint", complaint_id=complaint.id) }}">View</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}