<div class="modal fade" id="complaint-error-modal" tabindex="-1" role="dialog" aria-labelledby="complaint-error-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-color-white-transparent">
      <div class="modal-header bg-color-white-transparent pb-0">
        <h5 class="modal-title header-font text-dark font-size-medium" id="complaint-error-modal-label">Sorry</h5>
      </div>
      <div class="modal-body bg-color-white-transparent body-font text-dark font-size-x-small pb-0">
          <p>
              We were unable to submit your complaint due to a server error. This
              error has been logged for the website manager to review. Please try
              again later today or tomorrow. If the issue persists, please email us at
              {{ macros.bot_unreadable_email_link() }}
          </p>

          <hr>
      </div>
      <div class="modal-footer bg-color-white-transparent pt-0">
          <a id="ok-report-failed" class="btn btn-dark btn-block header-font font-size-medium" href="/">OK</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#complaint-error-modal").modal();
</script>

<a id="ok-report-failed-dismissed" class="sr-only" href="/">Refresh Page</a>