<div class="modal fade" id="confirm-anon-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-anon-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-color-white-transparent">
      <div class="modal-header bg-color-white-transparent pb-0">
        <h5 class="modal-title header-font text-dark font-size-medium" id="confirm-anon-label">Confirm Anonymous Report</h5>
      </div>
      <div class="modal-body bg-color-white-transparent body-font text-dark font-size-x-small pb-0">
          <p>If you submit your report anonymously, your local air board and/or California EPA will be
              unable to contact you to verify your report, or tell you the status of your report.
              We are also unable to use anonymous reports for certain types of polluter maps.
              Anonymous reports are still valuable, and we encourage you to submit your report
              anonymously if you are unable to provide your location and contact information.

          </p>
          <p>If you need to submit your report anonymously, please click "Submit Anonymous
              Report". Otherwise, please click "Go Back", and you will be able to enter
              your location and other contact details before submitting.
          </p>
      </div>
      <div class="modal-footer bg-color-white-transparent pt-0">
        <button id="cancel-anonymous-report" type="button" class="btn btn-dark btn-block btn-sm text-light header-font font-size-medium" data-dismiss="modal">Go Back</button>
        <button id="submit-anonymous-report" type="button" class="btn btn-dark btn-block text-light header-font font-size-medium btn-sm">Submit Anonymous Report</button>
      </div>
    </div>
  </div>
</div>