<div class="modal fade" id="pp-required-modal" tabindex="-1" role="dialog" aria-labelledby="pp-required-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-color-white-transparent">
      <div class="modal-header bg-color-white-transparent pb-0">
        <h5 class="modal-title header-font text-dark font-size-medium" id="pp-required-modal-label">Cannot Submit Report</h5>
      </div>
      <div class="modal-body bg-color-white-transparent body-font text-dark font-size-x-small pb-0">
          <p>
              In order to submit your report using this tool, you must agree to the Privacy Policy.
              You do not have to include all of your contact information in the form, and you can
              also submit the form anonymously to further limit the amount of information that we
              keep. If you do not wish to accept this policy, please do not use this form, but use
              the <a href="https://calepacomplaints.secure.force.com/complaints/complaintcontact" target="_blank" rel="nofollow noreferrer">
              CalEPA complaint system</a> instead.
          </p>
      </div>
      <div class="modal-footer bg-color-white-transparent pt-0">
        <button id="cancel-anonymous-report" type="button" class="btn btn-dark btn-block btn-sm text-light header-font font-size-medium" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>