<div class="modal fade" id="privacy-policy-modal" tabindex="-1" role="dialog" aria-labelledby="privacy-policy-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-color-white-transparent">
      <div class="modal-header bg-color-white-transparent pb-0">
        <h5 class="modal-title header-font text-dark font-size-medium" id="privacy-policy-modal-label">Privacy and Contact Policy</h5>
      </div>
      <div class="modal-body bg-color-white-transparent body-font text-dark font-size-x-small pb-0">
          <p>Pollution Reports and Communities for a Better Environment (CBE) does not
              use tracking cookies on this site. However, this site uses Google ReCaptcha to prevent
              form submissions from bots.
          </p>
          <p>
              This site also uses Google Maps and Google Location Services. When you click the
              Polluter Search box or the box for entering your own address, the Google Maps
              service will first attempt to locate your device in order to reduce the pool
              of potential search results. Anything you type into either of the two address
              search boxes will be sent to Google, so that Google can retrieve likely results.
              If you choose a result, that choice will also be sent to Google.
          </p>
          <p>
              We do not send any other form fields to Google, but we cannot guarantee that Google
              is not collecting additional information about your usage of this site.
              By using this site or the pollution reporting tool, you are subject to the
              <a href="https://policies.google.com/privacy" target="_blank" rel="nofollow noreferrer">
                  Google Privacy Policy</a>, and the
              <a href="https://policies.google.com/terms" target="_blank" rel="nofollow noreferrer">Google Terms of Service</a>.
          </p>
          <p>
              The information you enter in your pollution report will be sent securely to
              the following entities:
          </p>
          <ol>
              <li>The California EPA</li>
              <li>Communities for a Better Environment</li>
              <li>A secure server connected to this site, for mapping purposes</li>
          </ol>

          <p>When CalEPA receives your complaint, they may forward it to your local Air Quality Management
              District or other relevant enforcement agency. You may be contacted by this agency to
              gather further information or validate your complaint. An investigator may wish to meet
              you in person to discuss your concerns, or to ask for your help locating the source
              of the pollution. Your report may be used for other purposes, which are governed by the
              CalEPA <a href="https://calepa.ca.gov/privacy-policy/" target="_blank" rel="nofollow noreferrer">Privacy Policy</a>
          </p>
          <p>
              When CBE receives a copy of your report, they may contact you to discuss your concerns.
              They may send you emails, phone calls, or text messages to keep you informed of air
              quality issues in your neighborhood. You may incur phone or text charges as a result of
              these messages. If you are contacted by CBE, you will have the option to opt out of future
              contact from the organization. Furthermore, your report may be used by their Research and
              Legal teams to advance CBE's fight for Environmental Justice. Your information may be
              transmitted internally between these teams in furtherance of this goal. You will not have
              the option to later opt out of having your report used for this purpose.
          </p>
          <p>
              When we save the third copy of your report on our server for mapping purposes, we
              will save only a partial copy that has been de-identified. This copy will contain the polluter
              location (address), your partial location (lat/long rounded up to block-level or lower resolution),
              pollution type, your description of pollution, time, and date. This abridged report will be
              combined with others to create maps and perform analyses that may eventually become publicly
              viewable on this website. Your name and contact information will be permanently stripped from
              this copy. If you submit a report, and later decide that you do not want your report used for
              mapping, we may be unable to locate this de-identified copy in order to remove it.
          </p>
          <p>
              If you do not want CalEPA or CBE to contact you, or if you do not want your block-level
              location data to be included in our mapping dataset, we recommend that you submit your
              report anonymously. If you do not want to be subject to the Google Policies necessitated
              by our use of Google Maps and ReCaptcha, you should not use this form to report pollution.
              You should instead use the <a href="https://calepacomplaints.secure.force.com/complaints/complaintcontact" target="_blank" rel="nofollow noreferrer">
              CalEPA complaint system</a>.
          </p>

          <p>
              While we reserve the right to change this policy in the future, we will never sell,
              or rent your personal information for any reason. Furthermore, your information will only
              ever be shared by us for the purposes of researching and and fighting air pollution, and
              only ever with the following types of entities:
          </p>
          <ul>
              <li>
                  Pollution-regulating government agencies (such as the California EPA or local air boards)
              </li>
              <li>
                  Environmental Justice Community Organizations and their supporting
                  Research and Legal Teams (as in the case of Communities for a Better Environment).
              </li>
              <li>
                  Third-party professionals or volunteers, who have been approved by the makers of this
                  site, for the purposes of performing research, creating maps, dashboards or analyses,
                  or otherwise working to use the data to inform the public about the effects of air
                  pollution.
              </li>
          </ul>
          <p>
              If additional agencies, organizations, or researchers are added to the list of recipients,
              this will be reflected in an updated privacy policy before any data is transmitted to
              new recipients. Because only anonymized data is retained by this site, we are unable
              to notify people who have made previous reports about upcoming changes to the Privacy Policy.
              If you have any additional questions about how your data is used, please email us at
                <script type="text/javascript">
                    first = "pollution";
                    second = "reports";
                    domain = "gmail";
                    suffix = "com";

                    combined = first + second + "@" + domain + "." + suffix;

                    cmd1 = "mai"
                    cmd2 = "lto:"

                    document.write(
                        '<a h' +'re' +'f="' + cmd1 + cmd2 + combined +'">'
                        + combined + '</' + 'a>'
                    );

                </script>.
          </p>
      </div>
      <div class="modal-footer bg-color-white-transparent pt-0">
        <button id="cancel-anonymous-report" type="button" class="btn btn-dark btn-block btn-sm text-light header-font font-size-medium" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>