{% import "site/macros.html" as macros %}

<!DOCTYPE html>
{#TODO: reduce px on mobile for all columns#}
<html lang="en">
<head>
    <meta charset="UTF-8">

    {# JS #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/node_modules/rellax/rellax.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='scripts/node_modules/ab-datepicker/js/datepicker.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='scripts/autocomplete.js') }}"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key={{ places_api_key }}&callback=initAutocomplete&libraries=places&v=weekly"></script>
    <script defer src="{{ url_for('static', filename='scripts/complaint-form.js') }}"></script>
    <script defer src="https://www.google.com/recaptcha/api.js"></script>
    {{ moment.include_moment() }}


    {# Icons #}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico')}}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='icons/apple-touch-icon-precomposed.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='icons/msapplication-TileImage.png') }}">

    {# Fonts #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d878f059c.js" crossorigin="anonymous"></script>

    {# Styles #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/node_modules/ab-datepicker/css/datepicker.css') }}" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pollution Reports</title>

</head>

<body onload="initAutocomplete(); initMap();" class="bg-color-black">

{# Modals need to be outside of all other containers to render properly #}
{% include "site/_confirm_anon_modal.html" %}
{% include "site/_privacy_policy_modal.html" %}
{% include "site/_pp_required_modal.html" %}
{% if epa_confirmation_no %}
{#    {{ epa_confirmation_no }}#}
    {% include "site/_complaint_submitted_modal.html" %}
{% endif %}

{% if error %}
    {% include "site/_complaint_error_modal.html" %}
{% endif %}

<header class="container-fluid bg-color-black font-size-medium header-font py-2 sticky-top">
    <div class="row p-0">
        <div class="col-md px-5 text-center text-md-left text-uppercase text-white font-size-large">Pollution Reports</div>
        <div class="col-md px-5">
            <nav>
                <ul class="nav justify-content-center nav-fill header-font font-size-small">
                    <li class="nav-item"><a class="text-white" href="#about">About</a></li>
                    <li class="nav-item"><a class="text-white" href="javascript:" data-toggle="modal" data-target="#privacy-policy-modal">Privacy Policy</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="container-fluid m-0 px-0 px-md-3 background-image py-3">
    <div id="complaint-form-container" class="container-fluid bg-color-white-transparent parallax py-3 px-2 px-md-5" data-rellax-speed="15">
        <div class="row py-0 px-5">
            <div class="col">
                <h1 class="header-font text-uppercase font-size-large text-center">Make a Report</h1>
            </div>
        </div>
        <form id="report-pollution-form" role="form" aria-label="Form for reporting pollution" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="row py-4">
                <div class="col-md-6">
                    <h3 class="header-font font-size-medium text-dark">Where was it?</h3>
                    <div class="form-group">

                        {% set classes="form-control body-font font-size-x-small" %}
                        {% set message="" %}

                        {% if form.polluter_search.errors %}
                            {% set classes = classes + " is-invalid" %}
                            {% set message = form.polluter_search.errors[0] %}
                        {% endif %}

                        {{ form.polluter_search(
                            type="search",
                            onFocus="geolocate(true)",
                            autocomplete="fdsifaoenjeiop",
                            placeholder="Search for polluter...",
                            class=classes) }}
                        <div class="invalid-feedback body-font font-size-xx-small py-0 px-2">{{ message }}</div>
                        <label for="polluter_search" class="sr-only">Search for polluter...</label>

                        <figure role="figure">
                            <div id="map" class="img-fluid rounded-sm mt-2"></div>
                            <figcaption class="sr-only">Searchable map showing location of polluter</figcaption>
                        </figure>

                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="header-font font-size-medium text-dark">When did it happen?</h3>
                    <div class="form-group pb-2">
                        {% set classes = "date form-control body-font font-size-x-small" %}
                        {% set message = "" %}
                        {% if form.date.errors %}
                            {% set classes = classes + " is-invalid" %}
                            {% set message = form.date.errors[0] %}
                        {% endif %}
                        {{ form.date(id="date1", class=classes, placeholder="m/d/yyyy",title="click the button to choose a different date") }}
                        <div class="invalid-feedback body-font font-size-xx-small py-0 px-2">{{ message }}</div>
                        <label for="date1" class="sr-only">Date in m/d/yyyy format...click the button to choose a different date</label>

                        <div class="container-fluid mt-2 p-0">
                            <div class="input-group">

                            {{ form.hour(id="hours", class="form-control body-font font-size-x-small text-dark") }}
                            <label for="hours" class="sr-only">Hour</label>

                            {{ form.minute(id="minutes", class="form-control body-font font-size-x-small text-dark") }}
                            <label for="minutes" class="sr-only">Minute</label>

                            {{ form.ampm(class="form-control body-font font-size-x-small text-dark") }}
                            <label for="ampm" class="sr-only">AM/PM</label>

                        </div>
                        </div>

                        <div class="btn-group-toggle mt-2" data-toggle="buttons">
                            <label role="button" id="ongoing-button-label" class="btn btn-block btn-dark btn-sm font-size-small font-white header-font button-checkbox custom-button-checkbox" for="ongoing-complaint">
                                {{ form.ongoing(id="ongoing-complaint", autocomplete="off") }}
                                <span id="is-it-ongoing">Still Ongoing</span>
                            </label>
                        </div>

                        <div class="btn-group-toggle mt-2" data-toggle="buttons">
                            <label role="button" id="refinery-button-label" class="btn btn-block btn-dark btn-sm font-size-small font-white header-font button-checkbox custom-button-checkbox" for="refinery">
                                {{ form.refinery(id="refinery", autocomplete="off") }}
                                <span id="is-refinery">Polluter is a Refinery</span>
                            </label>
                        </div>

                    </div>
                    <div class="form-group mb-0">
                    <h3 class="header-font font-size-medium text-dark">Describe the pollution</h3>
                        <div class="container-fluid mt-2 p-0">
                            <div class="input-group">
                                {{ form.pollution_type(
                                    id="pollution-types",
                                    class="form-control body-font font-size-x-small text-dark") }}
                                <div class="input-group-append">
                                    <label for="pollution-types" class="input-group-text body-font font-size-x-small text-dark">Type</label>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-2 p-0">

                            {% set classes = "form-control body-font font-size-x-small text-dark" %}
                            {% set message = "" %}
                            {% if form.description.errors %}
                                {% set classes = classes + " is-invalid" %}
                                {% set message = form.description.errors[0] %}
                            {% endif %}
                            {{ form.description(
                                    id="pollution-description",
                                    class=classes,
                                    rows="12",
                                    placeholder="Describe the pollution you've witnessed in your own words.") }}
                            <div class="invalid-feedback font-size-xx-small body-font py-0 px-2">{{ message }}</div>
                            <label for="pollution-description" class="sr-only">Describe the pollution you've witnessed in your own words. </label>
                        </div>
                    </div>


                </div>
            </div>

            <div class="row pt-4">
                <div class="col-md-6 d-flex align-items-end">
                    <h3 class="header-font font-size-medium text-dark m-0">Your Contact Info</h3>
                </div>
                <div class="col-md-6">
                    <div class="form-group m-0 p-0">
                        <div class="btn-group-toggle mt-2" data-toggle="buttons">
                                <label role="button" id="anonymous-button-label" class="btn btn-block btn-dark btn-sm font-size-small font-white header-font button-checkbox custom-button-checkbox" for="anonymous-complaint">
                                {{ form.anonymous(
                                        id="anonymous-complaint",
                                        autocomplete="off") }}
                                <span id="make-anonymous">No, Please Submit Anonymously</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="contact-info" class="form-group container-fluid m-0 p-0">
                <div class="row p-0">
                    <div class="col-md-6">
                        <div class="row pt-2">
                            <div class="col">
                                {% set classes = "form-control body-font font-black font-size-x-small" %}
                                {% set message = "" %}
                                {% if form.email.errors %}
                                    {% set message = form.email.errors[0] %}
                                    {% set classes = classes + " is-invalid" %}
                                {% endif %}
                                {{ form.email(
                                    id="email",
                                    class=classes,
                                    placeholder="Email",
                                    type="email"
                                ) }}
                                <div class="invalid-feedback font-size-xx-small body-font py-0 px-2">{{ message }}</div>
                                <label for="email" class="sr-only">Email</label>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                {% set classes = "form-control body-font font-black font-size-x-small" %}
                                {% set message = "" %}
                                {% if form.confirm_email.errors %}
                                    {% set message = form.confirm_email.errors[0] %}
                                    {% set classes = classes + " is-invalid" %}
                                {% endif %}
                                {{ form.confirm_email(
                                    id="confirm-email",
                                    class=classes,
                                    type="email",
                                    placeholder="Confirm Email"
                                ) }}
                                <div class="invalid-feedback font-size-xx-small body-font py-0 px-2">{{ message }}</div>
                                <label for="confirm-email" class="sr-only">Confirm Email</label>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                <div class="input-group">
                                {% set classes = "form-control body-font font-black font-size-x-small" %}
                                {% set message = "" %}
                                {% if form.phone.errors %}
                                    {% set message = form.phone.errors[0] %}
                                    {% set classes = classes + " is-invalid" %}
                                {% endif %}

                                    {{ form.phone(
                                        id="phone",
                                        class=classes,
                                        placeholder="Phone"
                                    ) }}
                                    <div class="invalid-feedback font-size-xx-small body-font py-0 px-2">{{ message }}</div>
                                    <label for="phone" class="sr-only">Phone</label>
                                    <div class="input-group-append">
                                        <div class="btn-group-toggle m-0 p-0" data-toggle="buttons">
                                            <label role="button" id="landline-button-label" class="btn btn-outline-secondary btn-sm font-size-small font-white header-font button-checkbox custom-button-checkbox" for="landline-button">
                                                {{ form.landline(
                                                    id="landline-button",
                                                    autocomplete="off"
                                                ) }}
                                                <span id="is-landline">My Phone is a Landline</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="row pt-2">
                            <div class="col">
                                {% set classes = "form-control body-font font-black font-size-x-small" %}
                                {% set message = "" %}
                                {% if form.first_name.errors %}
                                    {% set message = form.first_name.errors[0] %}
                                    {% set classes = classes + " is-invalid" %}
                                {% endif %}
                                {{ form.first_name(
                                    id="first-name",
                                    class=classes,
                                    placeholder="First Name"
                                ) }}
                                <div class="invalid-feedback font-size-xx-small body-font py-0 px-2">{{ message }}</div>
                                <label for="first-name" class="sr-only">First Name</label>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                {% set classes = "form-control body-font font-black font-size-x-small" %}
                                {% set message = "" %}
                                {% if form.last_name.errors %}
                                    {% set message = form.last_name.errors[0] %}
                                    {% set classes = classes + " is-invalid" %}
                                {% endif %}

                                {{ form.last_name(
                                    id="last-name",
                                    class=classes,
                                    placeholder="Last Name"
                                ) }}
                               <div class="invalid-feedback font-size-xx-small body-font py-0 px-2">{{ message }}</div>
                                <label for="last-name" class="sr-only">Last Name</label>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">

                                {% set classes = "form-control body-font font-size-x-small" %}
                                {% set message = "" %}
                                {% if form.reporter_search.errors %}
                                    {% set classes = classes + " is-invalid" %}
                                    {% set message = form.reporter_search.errors[0] %}
                                {% endif %}

                                {{ form.reporter_search(
                                    type="search",
                                    onFocus="geolocate()",
                                    autocomplete="fdsifaoenjeiop",
                                    placeholder="Search for your address or Intersection...",
                                    class="form-control body-font font-size-x-small"
                                ) }}
                                <div class="invalid-feedback body-font font-size-xx-small py-0 px-2">{{ message }}</div>
                                <label for="reporter_search" class="sr-only">Search for your address or Intersection...</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md">
                    </div>
                    <div class="col-md">
                        <div class="btn-group-toggle mt-0" data-toggle="buttons">
                            <label role="button" id="privacy-button-label" class="btn btn-block btn-dark btn-small font-size-small font-white header-font button-checkbox custom-button-checkbox" for="privacy-policy-button">
                                {{ form.privacy_contact_ok(
                                    id="privacy-policy-button",
                                    autocomplete="off"
                                ) }}
                                <span id="privacy-policy-ok"><i class="fas fa-check" aria-hidden="true"></i> I Accept the </span>
                                <span id="privacy-policy-link-button" tabindex="0">Privacy and Contact Policy</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row pt-2 pb-5 mb-5">
                    <div class="col">
                        <div class="form-group mt-0">
                            <button id="submit-report"
                                    class="g-recaptcha btn btn-dark btn-block text-light header-font font-size-large btn-lg"
                                    data-callback="submitForm"
                                    data-action="submit"
                                    data-sitekey="{{ recaptcha_public_key }}"
                            >Submit Report Now</button>
                        </div>
                    </div>
                </div>

            </div>

        </form>

    </div>

    <div id="about-container" class="container-fluid bg-color-white-transparent parallax py-3 px-2 px-md-5" data-rellax-speed="5">
        <h3 id="about" class="text-center header-font font-black font-size-large text-uppercase mb-4">About</h3>
        <div class="row">
            <div class="col-md font-size-x-small body-font font-black">
                <h4 class="text-center header-font font-black font-size-small">Purpose</h4>
                <p>
                    Right now in California, millions of us are living, working, and going to school
                    surrounded by toxic air. This pollution comes from oil refineries, foundries,
                    and other stationary sources. The burden largely falls on low-income Black and
                    Brown communities--communities who frequently face catastrophic rates of asthma,
                    heart attack, and stroke because of unsafe air.
                </p>

                <p>
                    Many people do not realize that the "off" smell next to their kid's elementary
                    school or their workplace is due to a dangerous factory nearby. There is very
                    little transparency from regulators or corporations around this. Many of these
                    polluters are "grandfathered in"; their right to operate comes from an era when
                    environmental protections were more lax. Regulators are unwilling or unable to
                    revoke their permits, and they can only be stopped with a well-organized community
                    effort.
                </p>
                <p>
                    Previously, the "official" way for a community member to address air quality issues
                    was to contact their local air board or the California EPA. From there, it is
                    not easy to tell what happens to your report. It's also not possible to see
                    how many other people have reported the same polluters, or to get a sense of
                    how the pollution might be affecting your neighborhood.
                </p>
                <p>
                    Furthermore, individuals complaining to local regulators in isolation are not
                    given any way to organize around these issues within their communities.
                </p>

                <p>
                    Our hope is that this app will help us more effectively hold polluters and regulators
                    accountable, so that we can build a California where everyone has access to
                    clean air.
                </p>

                <p>
                    This reporting tool was created by Gabrielle Sloane Law, in collaboration with
                    <a href="https://cbecal.org" target="_blank" rel="noopener noreferrer">
                        Communities for a Better Environment</a>. The full site code can be found on
                    <a href="https://github.com/gabriellesw/pollution_reports" target="_blank" rel="noopener noreferrer">
                        Github</a>, and your code feedback and collaboration is welcome. You are also
                    welcome to reuse any relevant code for your own local environmental justice projects.
                </p>
                <p>
                    We hope to add interactive maps soon, so you can learn about the polluters
                    in your neighborhood.
                </p>


            </div>
            <div class="col-md body-font font-black font-size-x-small mt-4 mt-md-0">
                <h4 class="text-center header-font font-black font-size-small">How it Works</h4>
                <p>
                    First, your complaint is sent directly to the California EPA using their existing
                    <a href="https://calepacomplaints.secure.force.com/complaints/complaintcontact" target="_blank" rel="noopener noreferrer">Complaint System</a>.
                    Once the complaint is submitted, you will receive a confirmation number. Please
                    read the CalEPA <a href="https://calepa.ca.gov/enforcement/complaints/faqs/" target="_blank" rel="noopener noreferrer">FAQ</a>
                    for info about what will happen to your complaint once it is sent to the CalEPA.
                </p>
                <p>
                    Second, a copy of your complaint is sent securely to
                    <a href="https://cbecal.org" target="_blank" rel="noopener noreferrer">
                        Communities for a Better Environment</a>.
                    This copy is used to perform critical research, outreach, and mapping. By
                    submitting a complaint through this system, you will allow us to do the following:
                </p>
                <ul>
                    <li>
                        Publicly track and share trends in air pollution and its impact on public health
                    </li>
                    <li>
                        Perform critical independent academic and legal research
                    </li>
                    <li>
                        Hold regulators accountable to the public (instead of industry) by
                        creating an independent record of complaints.
                    </li>
                    <li>
                        Help you connect and organize with other concerned members of your community.
                    </li>
                </ul>
                <p>
                    Third, anonymized partial complaint data is saved for mapping purposes.
                    This includes the polluter location, block-level reporter location, and
                    basic information about the observed pollution (such as pollution type
                    and observation time). This is the information that will eventually be
                    used to create maps on this site. All other information (name, contact
                    info, etc.) will be discarded.
                </p>
                <p>
                    If you have other ideas about what we should do, please send an email
                    to {{ macros.bot_unreadable_email_link() }}
                </p>
            </div>
        </div>

    </div>

    <footer id="footer" class="container-fluid bg-color-white-transparent p-1">
        <h6 class="font-black text-center header-font font-size-x-small"><i class="fa fa-creative-commons" aria-hidden="true"></i>{{ moment().format('YYYY') }}, Communities for a Better Environment & G. Sloane Law</h6>
    </footer>
</div>

    <script type="text/javascript">
        let rellax = new Rellax('.parallax');
    </script>

    <script type="text/javascript">
        function submitForm(token) {
            document.getElementById("report-pollution-form").submit()
        }
    </script>

</body>
</html>