<!DOCTYPE html>
{#TODO: reduce px on mobile for all columns#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="https://kit.fontawesome.com/7d878f059c.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {{ moment.include_moment() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pollution Reports</title>
    <script src="{{ url_for('static', filename='scripts/node_modules/rellax/rellax.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/node_modules/ab-datepicker/js/datepicker.min.js') }}"></script>

    {# ToDo: minify all local static js & css #}
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/node_modules/ab-datepicker/css/datepicker.css') }}" type="text/css">


    {# ToDo: move all scripts that aren't used everywhere into a block instead of checking for arguments#}
    <script src="{{ url_for('static', filename='scripts/complaint-form.js') }}"></script>
    {% if places_api_key %}
        <script
            async="false"
            src="https://maps.googleapis.com/maps/api/js?key={{ places_api_key }}&callback=initAutocomplete&libraries=places&v=weekly"
            >
        </script>
        <script async="false" src="{{ url_for('static', filename='scripts/autocomplete.js') }}"></script>
    {% endif %}

</head>
{% if places_api_key %}
<body onload="initAutocomplete(); initMap();" class="bg-color-black">
{% else %}
<body class="bg-color-black">
{% endif %}

{# This has to be outside of all other page elements to work properly #}
<div class="modal fade" id="confirm-anon-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-anon-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-color-white-transparent">
      <div class="modal-header bg-color-white-transparent pb-0">
        <h5 class="modal-title header-font text-dark font-size-medium" id="confirm-anon-label">Confirm Anonymous Report</h5>
      </div>
      <div class="modal-body bg-color-white-transparent body-font text-dark font-size-x-small pb-0">
          <p>If you submit your report anonymously, your local pollution investigators will be unable to
              contact you to verify your report, or tell you the status of your report. We are also unable
              to use anonymous reports for some areas of polluter mapping. Anonymous reports are still
              valuable, and we encourage you to submit your report anonymously if you are unable to
              provide your location and contact information.

          </p>
          <p>If you need to submit your report anonymously, please click "Submit Anonymous
              Report". Otherwise, please click "Go Back", and you will be able to enter
              your location and other contact details before submitting.
          </p>
      </div>
      <div class="modal-footer bg-color-white-transparent pt-0">
        <button id="cancel-anonymous-report" type="button" class="btn btn-dark btn-block btn-sm text-light header-font font-size-medium" data-dismiss="modal">Go Back</button>
        <button id="submit-anonymous-report" type="button" class="btn btn-dark btn-block text-light header-font font-size-medium btn-sm" data-dismiss="modal">Submit Anonymous Report</button>
      </div>
    </div>
  </div>
</div>


<header class="container-fluid bg-color-black font-size-medium header-font py-2 sticky-top">
            <div class="row p-0">
                <div class="col-md px-5 text-center text-md-left text-uppercase text-white font-size-large">Pollution Reports</div>
                <div class="col-md px-5">
                    <nav>
                        <ul class="nav justify-content-center nav-fill header-font font-size-small">
                            <li class="nav-item"><a class="text-white" href="{{ url_for('site.home') }}">Make a Report</a></li>
                            <li class="nav-item"><a class="text-white" href="{{ url_for('site.about') }}">About</a></li>
                            <li class="nav-item"><a class="text-white" href="{{ url_for('site.privacy') }}">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div class="container-fluid m-0 px-3 background-image">


        <div class="complaint-form-container container-fluid bg-color-white-transparent parallax py-3 px-5" data-rellax-speed="15">
            <div class="row py-0 px-5">
                <div class="col">
                    <h1 class="header-font text-uppercase font-size-large text-center">Make a Report</h1>
                </div>
            </div>
            <form role="form" aria-label="Form for reporting pollution">

                <div class="row py-4">
                    <div class="col-md-6">
                        <h3 class="header-font font-size-medium text-dark">Where was it?</h3>
                        <div class="form-group">

                            <input id="polluter_search" type="search" onFocus="geolocate(true)" autocomplete="fdsifaoenjeiop" placeholder="Search for polluter..." class="form-control body-font font-size-x-small">
                            <label for="polluter_search" class="sr-only">Search for polluter...</label>
                            <input type="hidden" id="polluter_lat" class="form-control ">
                            <input type="hidden" id="polluter_lng" class="form-control ">
                            <input type="hidden" id="polluter_street_number" class="form-control ">
                            <input type="hidden" id="polluter_locality" class="form-control ">
                            <input type="hidden" id="polluter_route" class="form-control ">
                            <input type="hidden" id="polluter_administrative_area_level_1" class="form-control ">
                            <input type="hidden" id="polluter_postal_code" class="form-control ">

                            <figure role="figure">
                                <div id="map" class="img-fluid rounded-sm mt-2"></div>
                                <figcaption class="sr-only">Searchable map showing location of polluter</figcaption>
                            </figure>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="header-font font-size-medium text-dark">When did it happen?</h3>
                        <div class="form-group pb-2">
                            <input class="date form-control body-font font-size-x-small" id="date1" type="text" placeholder="m/d/yy" title="click the button to choose a different date"/>

                            <div class="container-fluid mt-2 p-0">
                                <div class="input-group">

                                <select class="form-control body-font font-size-x-small text-dark" id="hours">
                                    {% for i in range(1, 13) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <label for="hours" class="sr-only">Hour</label>

                                <select class="form-control body-font font-size-x-small text-dark" id="minutes">
                                    {% for i in range(60) %}
                                        {% if i < 10 %}
                                            {% set val = "0%.0f"|format(i) %}
                                        {% else %}
                                            {% set val = i|string %}
                                        {% endif %}

                                        <option value={{ i }}>{{ val }}</option>
                                    {% endfor %}
                                </select>
                                <label for="minutes" class="sr-only">Minute</label>

                                <label for="ampm" class="sr-only">AM/PM</label>
                                <select class="form-control body-font font-size-x-small text-dark" id="ampm">
                                    <option value="am">AM</option>
                                    <option value="pm">PM</option>
                                </select>

                            </div>
                            </div>

                            <div class="btn-group-toggle mt-2" data-toggle="buttons">
                                <label role="button" id="ongoing-button-label" class="btn btn-block btn-dark btn-sm font-size-small font-white header-font button-checkbox" for="ongoing-complaint">
                                    <input id="ongoing-complaint" type="checkbox" autocomplete="off">
                                    <span id="is-it-ongoing">Still Ongoing</span>
                                </label>
                            </div>

                        </div>
                        <div class="form-group mb-0">
                        <h3 class="header-font font-size-medium text-dark">Describe the pollution</h3>
                            <div class="container-fluid mt-2 p-0">
                                <div class="input-group">
                                    <select class="form-control body-font font-size-x-small text-dark" id="pollution-types">
                                        {% for t in ["Odors/Fumes", "Smoke", "Dust", "Asbestos"] %}
                                            <option value="{{ t }}">{{ t }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <label for="pollution-types" class="input-group-text body-font font-size-x-small text-dark">Type</label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid mt-2 p-0">
                                <label for="pollution-description" class="sr-only">Describe the pollution you've witnessed in your own words. Odors, observed smoke or dust, sounds, and any other activity that you think will help investigators research and act upon your complaint.</label>
                                <textarea class="form-control body-font font-size-x-small text-dark" id="pollution-description" rows="12" placeholder="Describe the pollution you've witnessed in your own words. Odors, observed smoke or dust, sounds, and any other activity that you think will help investigators research and act upon your complaint."></textarea>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-md-6 d-flex align-items-end">
                        <h3 class="header-font font-size-medium text-dark m-0">Your Contact Info</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-0 p-0">
                            <div class="btn-group-toggle mt-2" data-toggle="buttons">
                                <label role="button" id="anonymous-button-label" class="btn btn-block btn-dark btn-sm font-size-small font-white header-font button-checkbox" for="anonymous-complaint">
                                    <input id="anonymous-complaint" type="checkbox" autocomplete="off" aria-controls="contact-info-collapsible">
                                    <span id="make-anonymous">No, Please Submit Anonymously</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>



                <div id="contact-info-collapsible" class="form-group container-fluid m-0 p-0" aria-expanded="true">
                    <div class="row p-0">
                        <div class="col-md-6">
                            <div class="row pt-2">
                                <div class="col">
                                    <input id="email" class="form-control body-font font-black font-size-x-small" type="email" placeholder="Email" aria-labelledby="email-label">
                                    <label for="email" class="sr-only">Email</label>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    <input id="confirm-email" class="form-control body-font font-black font-size-x-small" type="email" placeholder="Confirm Email" aria-labelledby="confirm-email-label">
                                    <label for="confirm-email" class="sr-only">Confirm Email</label>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control font-black body-font font-size-x-small" placeholder="Phone" aria-label="Phone" aria-labelledby="phone-label">
                                        <div class="input-group-append">
                                            <div class="btn-group-toggle m-0 p-0" data-toggle="buttons">
                                                <label role="button" id="landline-button-label" class="btn btn-dark btn-sm font-size-small font-white header-font button-checkbox" for="landline-button">
                                                    <input id="landline-button" type="checkbox" autocomplete="off">
                                                    <span id="is-landline">My Phone is a Landline</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                contact opt-out checkbox & PP link
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row pt-2">
                                <div class="col">
                                    <input id="first-name" class="form-control body-font font-black font-size-x-small" type="text" placeholder="First Name" aria-labelledby="first-name-label">
                                    <label for="first-name" class="sr-only" id="first-name-label">First Name</label>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    <input id="last-name" class="form-control body-font font-black font-size-x-small" type="text" placeholder="Last Name" aria-labelledby="last-name-label">
                                    <label for="last-name" class="sr-only" id="last-name-label">Last Name</label>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    <input id="reporter_search" type="search" onFocus="geolocate()" autocomplete="fdsifaoenjeiop" placeholder="Search for your address or Intersection..." class="form-control body-font font-size-x-small" aria-labelledby="reporter-search-label">
                                    <label id="reporter-search-label" for="reporter_search" class="sr-only">Search for your address or Intersection...</label>
                                    <input type="hidden" id="lat" class="form-control ">
                                    <input type="hidden" id="lng" class="form-control ">
                                    <input type="hidden" id="street_number" class="form-control ">
                                    <input type="hidden" id="locality" class="form-control ">
                                    <input type="hidden" id="route" class="form-control ">
                                    <input type="hidden" id="administrative_area_level_1" class="form-control ">
                                    <input type="hidden" id="postal_code" class="form-control ">

                                </div>
                            </div>
                            <div class="row-pt-2">
                                <div class="col">
                                    submit button
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </form>

        </div>

    </div>

    <script type="text/javascript">
        var rellax = new Rellax('.parallax');
    </script>


</body>
</html>