<!DOCTYPE html>
{#TODO: reduce px on mobile for all columns#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="https://kit.fontawesome.com/7d878f059c.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {{ moment.include_moment() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pollution Reports</title>
    <script src="{{ url_for('static', filename='scripts/node_modules/rellax/rellax.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/node_modules/ab-datepicker/js/datepicker.min.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    {# ToDo: minify all local static js & css #}
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/node_modules/ab-datepicker/css/datepicker.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='scripts/complaint-form.js') }}"></script>
    <script defer src="{{ url_for('static', filename='scripts/autocomplete.js') }}"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key={{ places_api_key }}&callback=initAutocomplete&libraries=places&v=weekly"></script>

</head>
{% if places_api_key %}
<body onload="initAutocomplete(); initMap();" class="bg-color-black">
{% else %}
<body class="bg-color-black">
{% endif %}

{# These have to be outside of all other page elements to work properly #}
<div class="modal fade" id="confirm-anon-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-anon-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-color-white-transparent">
      <div class="modal-header bg-color-white-transparent pb-0">
        <h5 class="modal-title header-font text-dark font-size-medium" id="confirm-anon-label">Confirm Anonymous Report</h5>
      </div>
      <div class="modal-body bg-color-white-transparent body-font text-dark font-size-x-small pb-0">
          <p>If you submit your report anonymously, your local air board and/or California EPA will be
              unable to contact you to verify your report, or tell you the status of your report.
              We are also unable to use anonymous reports for certain types of polluter maps.
              Anonymous reports are still valuable, and we encourage you to submit your report
              anonymously if you are unable to provide your location and contact information.

          </p>
          <p>If you need to submit your report anonymously, please click "Submit Anonymous
              Report". Otherwise, please click "Go Back", and you will be able to enter
              your location and other contact details before submitting.
          </p>
      </div>
      <div class="modal-footer bg-color-white-transparent pt-0">
        <button id="cancel-anonymous-report" type="button" class="btn btn-dark btn-block btn-sm text-light header-font font-size-medium" data-dismiss="modal">Go Back</button>
        <button id="submit-anonymous-report" type="button" class="btn btn-dark btn-block text-light header-font font-size-medium btn-sm" data-dismiss="modal">Submit Anonymous Report</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="privacy-policy-modal" tabindex="-1" role="dialog" aria-labelledby="privacy-policy-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-color-white-transparent">
      <div class="modal-header bg-color-white-transparent pb-0">
        <h5 class="modal-title header-font text-dark font-size-medium" id="privacy-policy-modal-label">Privacy and Contact Policy</h5>
      </div>
      <div class="modal-body bg-color-white-transparent body-font text-dark font-size-x-small pb-0">
          <p>Pollution Reports and Communities for a Better Environment (CBE) does not
              use tracking cookies on this site. However, this site uses Google ReCaptcha to prevent
              form submissions from bots.
          </p>
          <p>
              This site also uses Google Maps and Google Location Services. When you click the
              Polluter Search box or the box for entering your own address, the Google Maps
              service will first attempt to locate your device in order to reduce the pool
              of potential search results. Anything you type into either of the two address
              search boxes will be sent to Google, so that Google can retrieve likely results.
              If you choose a result, that choice will also be sent to Google.
          </p>
          <p>
              We do not send any other form fields to Google, but we cannot guarantee that Google
              is not collecting additional information about your usage of this site.
              By using this site or the pollution reporting tool, you are subject to the
              <a href="https://policies.google.com/privacy" target="_blank" rel="nofollow noreferrer">
                  Google Privacy Policy</a>, and the
              <a href="https://policies.google.com/terms" target="_blank" rel="nofollow noreferrer">Google Terms of Service</a>.
          </p>
          <p>
              The information you enter in your pollution report will be sent securely to
              the following entities:
          </p>
          <ol>
              <li>The California EPA</li>
              <li>Communities for a Better Environment</li>
              <li>A secure server connected to this site, for mapping purposes</li>
          </ol>

          <p>When CalEPA receives your complaint, they may forward it to your local Air Quality Management
              District or other relevant enforcement agency. You may be contacted by this agency to
              gather further information or validate your complaint. An investigator may wish to meet
              you in person to discuss your concerns, or to ask for your help locating the source
              of the pollution. Your report may be used for other purposes, which are governed by the
              CalEPA <a href="https://calepa.ca.gov/privacy-policy/" target="_blank" rel="nofollow noreferrer">Privacy Policy</a></li>
          </p>
          <p>
              When CBE receives a copy of your report, they may contact you to discuss your concerns.
              They may send you emails, phone calls, or text messages to keep you informed of air
              quality issues in your neighborhood. You may incur phone or text charges as a result of
              these messages. If you are contacted by CBE, you will have the option to opt out of future
              contact from the organization. Furthermore, your report may be used by their Research and
              Legal teams to advance CBE's fight for Environmental Justice. Your information may be
              transmitted internally between these teams in furtherance of this goal. You will not have
              the option to later opt out of having your report used for this purpose.
          </p>
          <p>
              When we save the third copy of your report on our server for mapping purposes, we
              will save only a partial copy that has been de-identified. This copy will contain the polluter
              location (address), your partial location (lat/long rounded up to block-level or lower resolution),
              pollution type, your description of pollution, time, and date. This abridged report will be
              combined with others to create maps and perform analyses that may eventually become publicly
              viewable on this website. Your name and contact information will be permanently stripped from
              this copy. If you submit a report, and later decide that you do not want your report used for
              mapping, we may be unable to locate this de-identified copy in order to remove it.
          </p>
          <p>
              If you do not want CalEPA or CBE to contact you, or if you do not want your block-level
              location data to be included in our mapping dataset, we recommend that you submit your
              report anonymously. If you do not want to be subject to the Google Policies necessitated
              by our use of Google Maps and ReCaptcha, you should not use this form to report pollution.
              You should instead use the <a href="https://calepacomplaints.secure.force.com/complaints/complaintcontact" target="_blank" rel="nofollow noreferrer">
              CalEPA complaint system</a>.
          </p>

          <p>
              While we reserve the right to change this policy in the future, we will never sell,
              or rent your personal information for any reason. Furthermore, your information will only
              ever be shared by us for the purposes of researching and and fighting air pollution, and
              only ever with the following types of entities:
          </p>
          <ul>
              <li>
                  Pollution-regulating government agencies (such as the California EPA or local air boards)
              </li>
              <li>
                  Environmental Justice Community Organizations and their supporting
                  Research and Legal Teams (as in the case of Communities for a Better Environment).
              </li>
              <li>
                  Third-party professionals or volunteers, who have been approved by the makers of this
                  site, for the purposes of performing research, creating maps, dashboards or analyses,
                  or otherwise working to use the data to inform the public about the effects of air
                  pollution.
              </li>
          </ul>
          <p>
              If additional agencies, organizations, or researchers are added to the list of recipients,
              this will be reflected in an updated privacy policy before any data is transmitted to
              new recipients. Because only anonymized data is retained by this site, we are unable
              to notify people who have made previous reports about upcoming changes to the Privacy Policy.
              If you have any additional questions about how your data is used, please email us at
                <script type="text/javascript">
                    first = "pollution";
                    second = "reports";
                    domain = "gmail";
                    suffix = "com";

                    combined = first + second + "@" + domain + "." + suffix;

                    cmd1 = "mai"
                    cmd2 = "lto:"

                    document.write(
                        '<a h' +'re' +'f="' + cmd1 + cmd2 + combined +'">'
                        + combined + '</' + 'a>'
                    );

                </script>.
          </p>
      </div>
      <div class="modal-footer bg-color-white-transparent pt-0">
        <button id="cancel-anonymous-report" type="button" class="btn btn-dark btn-block btn-sm text-light header-font font-size-medium" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pp-required-modal" tabindex="-1" role="dialog" aria-labelledby="pp-required-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-color-white-transparent">
      <div class="modal-header bg-color-white-transparent pb-0">
        <h5 class="modal-title header-font text-dark font-size-medium" id="pp-required-modal-label">Cannot Submit Report</h5>
      </div>
      <div class="modal-body bg-color-white-transparent body-font text-dark font-size-x-small pb-0">
          <p>
              In order to submit your report using this tool, you must agree to the Privacy Policy.
              You do not have to include all of your contact information in the form, and you can
              also submit the form anonymously to further limit the amount of information that we
              keep. If you do not wish to accept this policy, please do not use this form, but use
              the <a href="https://calepacomplaints.secure.force.com/complaints/complaintcontact" target="_blank" rel="nofollow noreferrer">
              CalEPA complaint system</a> instead.
          </p>
      </div>
      <div class="modal-footer bg-color-white-transparent pt-0">
        <button id="cancel-anonymous-report" type="button" class="btn btn-dark btn-block btn-sm text-light header-font font-size-medium" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<header class="container-fluid bg-color-black font-size-medium header-font py-2 sticky-top">
            <div class="row p-0">
                <div class="col-md px-5 text-center text-md-left text-uppercase text-white font-size-large">Pollution Reports</div>
                <div class="col-md px-5">
                    <nav>
                        <ul class="nav justify-content-center nav-fill header-font font-size-small">
                            <li class="nav-item"><a class="text-white" href="#about">About</a></li>
                            <li class="nav-item"><a class="text-white" href="javascript:" data-toggle="modal" data-target="#privacy-policy-modal">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div class="container-fluid m-0 px-3 background-image py-3">

        <div id="complaint-form-container" class="container-fluid bg-color-white-transparent parallax py-3 px-5" data-rellax-speed="15">
            <div class="row py-0 px-5">
                <div class="col">
                    <h1 class="header-font text-uppercase font-size-large text-center">Make a Report</h1>
                </div>
            </div>
            <form id="report-pollution-form" role="form" aria-label="Form for reporting pollution">
                {{ form.hidden_tag() }}
                <div class="row py-4">
                    <div class="col-md-6">
                        <h3 class="header-font font-size-medium text-dark">Where was it?</h3>
                        <div class="form-group">

                            {{ form.polluter_search(
                                type="search",
                                onFocus="geolocate(true)",
                                autocomplete="fdsifaoenjeiop",
                                placeholder="Search for polluter...",
                                class="form-control body-font font-size-x-small") }}
                            <label for="polluter_search" class="sr-only">Search for polluter...</label>

                            <figure role="figure">
                                <div id="map" class="img-fluid rounded-sm mt-2"></div>
                                <figcaption class="sr-only">Searchable map showing location of polluter</figcaption>
                            </figure>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="header-font font-size-medium text-dark">When did it happen?</h3>
                        <div class="form-group pb-2">
                            {{ form.date(id="date1", class="date form-control body-font font-size-x-small", placeholder="m/d/yyyy",title="click the button to choose a different date") }}
                            <label for="date1" class="sr-only">Date in m/d/yyyy format...click the button to choose a different date</label>

                            <div class="container-fluid mt-2 p-0">
                                <div class="input-group">

                                {{ form.hour(id="hours", class="form-control body-font font-size-x-small text-dark") }}
                                <label for="hours" class="sr-only">Hour</label>

                                {{ form.minute(id="minutes", class="form-control body-font font-size-x-small text-dark") }}
                                <label for="minutes" class="sr-only">Minute</label>

                                {{ form.ampm(class="form-control body-font font-size-x-small text-dark") }}
                                <label for="ampm" class="sr-only">AM/PM</label>

                            </div>
                            </div>

                            <div class="btn-group-toggle mt-2" data-toggle="buttons">
                                <label role="button" id="ongoing-button-label" class="btn btn-block btn-dark btn-sm font-size-small font-white header-font button-checkbox custom-button-checkbox" for="ongoing-complaint">
                                    {{ form.ongoing(id="ongoing-complaint", autocomplete="off") }}
                                    <span id="is-it-ongoing">Still Ongoing</span>
                                </label>
                            </div>

                        </div>
                        <div class="form-group mb-0">
                        <h3 class="header-font font-size-medium text-dark">Describe the pollution</h3>
                            <div class="container-fluid mt-2 p-0">
                                <div class="input-group">
                                    {{ form.pollution_type(
                                        id="pollution-types",
                                        class="form-control body-font font-size-x-small text-dark") }}
                                    <div class="input-group-append">
                                        <label for="pollution-types" class="input-group-text body-font font-size-x-small text-dark">Type</label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid mt-2 p-0">
                                {{ form.description(
                                        id="pollution-description",
                                        class="form-control body-font font-size-x-small text-dark",
                                        rows="12",
                                        placeholder="Describe the pollution you've witnessed in your own words.") }}
                                <label for="pollution-description" class="sr-only">Describe the pollution you've witnessed in your own words. </label>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-md-6 d-flex align-items-end">
                        <h3 class="header-font font-size-medium text-dark m-0">Your Contact Info</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-0 p-0">
                            <div class="btn-group-toggle mt-2" data-toggle="buttons">
                                    <label role="button" id="anonymous-button-label" class="btn btn-block btn-dark btn-sm font-size-small font-white header-font button-checkbox custom-button-checkbox" for="anonymous-complaint">
                                    {{ form.anonymous(
                                            id="anonymous-complaint",
                                            autocomplete="off") }}
                                    <span id="make-anonymous">No, Please Submit Anonymously</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="contact-info" class="form-group container-fluid m-0 p-0">
                    <div class="row p-0">
                        <div class="col-md-6">
                            <div class="row pt-2">
                                <div class="col">
                                    {{ form.email(
                                        id="email",
                                        class="form-control body-font font-black font-size-x-small",
                                        placeholder="Email",
                                        type="email"
                                    ) }}
                                    <label for="email" class="sr-only">Email</label>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    {{ form.confirm_email(
                                        id="confirm-email",
                                        class="form-control body-font font-black font-size-x-small",
                                        type="email",
                                        placeholder="Confirm Email"
                                    ) }}
                                    <label for="confirm-email" class="sr-only">Confirm Email</label>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    <div class="input-group">
                                        {{ form.phone(
                                            id="phone",
                                            class="form-control font-black body-font font-size-x-small",
                                            placeholder="Phone"
                                        ) }}
                                        <label for="phone" class="sr-only">Phone</label>
                                        <div class="input-group-append">
                                            <div class="btn-group-toggle m-0 p-0" data-toggle="buttons">
                                                <label role="button" id="landline-button-label" class="btn btn-outline-secondary btn-sm font-size-small font-white header-font button-checkbox custom-button-checkbox" for="landline-button">
                                                    {{ form.landline(
                                                        id="landline-button",
                                                        autocomplete="off"
                                                    ) }}
                                                    <span id="is-landline">My Phone is a Landline</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="row pt-2">
                                <div class="col">
                                    {{ form.first_name(
                                        id="first-name",
                                        class="form-control body-font font-black font-size-x-small",
                                        placeholder="First Name"
                                    ) }}
                                    <label for="first-name" class="sr-only">First Name</label>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    {{ form.last_name(
                                        id="last-name",
                                        class="form-control body-font font-black font-size-x-small",
                                        placeholder="Last Name"
                                    ) }}
                                    <label for="last-name" class="sr-only">Last Name</label>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    {{ form.reporter_search(
                                        type="search",
                                        onFocus="geolocate()",
                                        autocomplete="fdsifaoenjeiop",
                                        placeholder="Search for your address or Intersection...",
                                        class="form-control body-font font-size-x-small"
                                    ) }}
                                    <label for="reporter_search" class="sr-only">Search for your address or Intersection...</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col">
                        </div>
                        <div class="col">
                            <div class="btn-group-toggle mt-0" data-toggle="buttons">
                                <label role="button" id="privacy-button-label" class="btn btn-block btn-dark btn-small font-size-small font-white header-font button-checkbox custom-button-checkbox" for="privacy-policy-button">
                                    {{ form.privacy_contact_ok(
                                        id="privacy-policy-button",
                                        autocomplete="off"
                                    ) }}
                                    <span id="privacy-policy-ok"><i class="fas fa-check" aria-hidden="true"></i> I Accept the </span>
                                    <span id="privacy-policy-link-button" tabindex="0">Privacy and Contact Policy</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2 pb-5 mb-5">
                        <div class="col">
                            <div class="form-group mt-0">
                                <button id="submit-report"
                                        class="g-recaptcha btn btn-dark btn-block text-light header-font font-size-large btn-lg"
                                        data-callback="submitForm"
                                        data-action="submit"
                                        data-sitekey="{{ recaptcha_public_key }}"
                                >Submit Report Now</button>
                            </div>
                        </div>
                    </div>

                </div>

            </form>

        </div>

        <div id="about-container" class="container-fluid bg-color-white-transparent parallax py-3 px-5" data-rellax-speed="5">
            <h3 id="about" class="text-center header-font font-black font-size-large text-uppercase mb-4">About</h3>
            <div class="row">
                <div class="col-md font-size-x-small body-font font-black">
                    <h4 class="text-center header-font font-black font-size-small">Purpose</h4>
                    <p>
                        Right now in California, millions of us are living, working, and going to school
                        surrounded by toxic air. This pollution comes from oil refineries, foundries,
                        and other stationary sources. The burden largely falls on low-income Black and
                        Brown communities--communities who frequently face catastrophic rates of asthma,
                        heart attack, and stroke because of unsafe air.
                    </p>

                    <p>
                        Many people do not realize that the "off" smell next to their kid's elementary
                        school or their workplace is due to a dangerous factory nearby. There is very
                        little transparency from regulators or corporations around this. Many of these
                        polluters are "grandfathered in"; their right to operate comes from an era when
                        environmental protections were more lax. Regulators are unwilling or unable to
                        revoke their permits, and they can only be stopped with a well-organized community
                        effort.
                    </p>
                    <p>
                        Previously, the "official" way for a community member to address air quality issues
                        was to contact their local air board or the California EPA. From there, it is
                        not easy to tell what happens to your report. It's also not possible to see
                        how many other people have reported the same polluters, or to get a sense of
                        how the pollution might be affecting your neighborhood.
                    </p>
                    <p>
                        Furthermore, individuals complaining to local regulators in isolation are not
                        given any way to organize around these issues within their communities.
                    </p>

                    <p>
                        Our hope is that this app will help us more effectively hold polluters and regulators
                        accountable, so that we can build a California where everyone has access to
                        clean air.
                    </p>

                    <p>
                        This app was created by Gabrielle Sloane Law, in collaboration with
                        <a href="https://cbecal.org" target="_blank" rel="nofollow noreferrer">
                            Communities for a Better Environment</a>. The full site code can be found on
                        <a href="https://github.com/gabriellesw/pollution_reports" target="_blank" rel="nofollow noreferrer">
                            Github</a>, and your code feedback and collaboration is welcome.
                        We hope to add interactive maps soon, so you can learn about the polluters
                        in your neighborhood.
                    </p>


                </div>
                <div class="col-md body-font font-black font-size-x-small mt-4 mt-md-0">
                    <h4 class="text-center header-font font-black font-size-small">How it Works</h4>
                    <p>
                        First, your complaint is sent directly to the California EPA using their existing
                        <a href="https://calepacomplaints.secure.force.com/complaints/complaintcontact" target="_blank" rel="nofollow noreferrer">Complaint System</a>.
                        Once the complaint is submitted, you will receive a confirmation number. Please
                        read the CalEPA <a href="https://calepa.ca.gov/enforcement/complaints/faqs/" target="_blank" rel="nofollow noreferrer">FAQ</a>
                        for info about what will happen to your complaint once it is sent to the CalEPA.
                    </p>
                    <p>
                        Second, a copy of your complaint is sent securely to
                        <a href="https://cbecal.org" target="_blank" rel="nofollow noreferrer">
                            Communities for a Better Environment</a>.
                        This copy is used to perform critical research, outreach, and mapping. By
                        submitting a complaint through this system, you will allow us to do the following:
                    </p>
                    <ul>
                        <li>
                            Publicly track and share trends in air pollution and its impact on public health
                        </li>
                        <li>
                            Perform critical independent academic and legal research
                        </li>
                        <li>
                            Help you connect and organize with other concerned members of your community.
                        </li>
                    </ul>
                    <p>
                        Third, anonymized partial complaint data is saved for mapping purposes.
                        This includes the polluter location, block-level reporter location, and
                        basic information about the observed pollution (such as pollution type
                        and observation time). This is the information that will eventually be
                        used to create maps on this site. All other information (name, contact
                        info, etc.) will be discarded.
                    </p>
                    <p>
                        If you have other ideas about what we should do, please send an email
                        to
                        <script type="text/javascript">
                            first = "pollution";
                            second = "reports";
                            domain = "gmail";
                            suffix = "com";

                            combined = first + second + "@" + domain + "." + suffix;

                            cmd1 = "mai"
                            cmd2 = "lto:"

                            document.write(
                                '<a h' +'re' +'f="' + cmd1 + cmd2 + combined +'">'
                                + combined + '</' + 'a>'
                            );

                        </script>.
                    </p>
                </div>
            </div>

        </div>

        <footer id="footer" class="container-fluid bg-color-white-transparent">
            test
        </footer>
    </div>

    <script type="text/javascript">
        let rellax = new Rellax('.parallax');
    </script>

    <script type="text/javascript">
        function submitForm(token) {
            document.getElementById("report-pollution-form").submit()
        }
    </script>

</body>
</html>