:root {
    /* Colors */
    --custom-white: #f2eaee;
    --custom-white-transparent: rgba(242, 234, 238, .75);
    --custom-red: #DF2935;
    --custom-black: #0A090C;
    --custom-accent-light: #BACBA9;
    --custom-accent-dark: #476A6F;
    --custom-accent-dark-transparent: rgba(71, 106, 111, .5);
    --custom-accent-dark-semi-transparent: rgba(71, 106, 111, .75);
    /* Fonts */
    --header-font: 'Oswald', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

/*Site fonts*/
.header-font {
    font-family: var(--header-font)
}

.body-font {
    font-family: var(--body-font)
}


html {
    font-size: calc(1rem + 1vw);
    font-style: normal;
    height: 100%;
}

body {
    height: 100%;
}

.bg-color-white {
    background-color: var(--custom-white);
}

.bg-color-white-transparent {
    background-color: var(--custom-white-transparent);
}

.bg-color-black {
    background-color: var(--custom-black);
}

.bg-color-accent {
    background-color: var(--custom-accent-light);
}

.bg-color-accent-dark {
    background-color: var(--custom-accent-dark);
}

.font-black {
    color: var(--custom-black);
}

.font-accent {
    color: var(--custom-accent-dark);
}

.font-white {
    color: var(--custom-white)
}

.font-size-xx-small {
    font-size: .5rem;
}

.font-size-x-small {
    font-size: .65rem;
}

.font-size-small {
    font-size: .75rem;
}

.font-size-medium {
    font-size: 1rem;
}

.font-size-large {
    font-size: 1.25rem;
}

.font-size-x-large {
    font-size: 1.5rem;
}

.font-size-xx-large {
    font-size: 2rem;
}

.background-image {
    background-image: url("../images/smokestacks.jpeg");
    height: 100%;
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}

#map {
    min-height: 600px;
}

#ongoing-button-label {
    background-color: var(--custom-accent-dark-transparent);
}

#ongoing-button-label:not(:disabled):not(.disabled).active {
    background-color: var(--custom-accent-dark);
}

#landline-button-label {
    background-color: var(--custom-accent-dark-transparent);
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#landline-button-label:not(:disabled):not(.disabled).active {
    background-color: var(--custom-accent-dark);
}

#anonymous-button-label {
    background-color: var(--custom-accent-dark-transparent);
}

#anonymous-button-label:not(:disabled):not(.disabled).active {
    background-color: var(--custom-accent-dark);
}

#cancel-anonymous-report {
    background-color: var(--custom-accent-dark-transparent);
}

#cancel-anonymous-report:hover, #cancel-anonymous-report:focus {
    background-color: var(--custom-accent-dark-semi-transparent);
}

#submit-anonymous-report {
    background-color: var(--custom-accent-dark-semi-transparent);
}

#submit-anonymous-report:hover, #submit-anonymous-report:focus {
    background-color: var(--custom-accent-dark);
}

#datepicker-calendar-date1 {
    /*ToDo: turn font sizes into variables*/
    font-size: .55rem;
    font-family: var(--body-font);
    color: var(--custom-black);
    background-color: var(--custom-white);
    width: 93%;
}

#datepicker-month-date1 {
    font-size: .65rem;
    font-weight: normal;
    font-family: var(--header-font);
    text-transform: uppercase;
    background-color: var(--custom-white);
}

.datepicker-calendar.default table.datepicker-grid thead tr {
    font-size: .65rem;
    font-family: var(--body-font);
    text-transform: uppercase;
}

.datepicker-calendar.default table.datepicker-grid th {
    background-color: var(--custom-accent-light) !important;
}

abbr[data-original-title], abbr[title] {
    text-decoration: none;
}

a.datepicker-button.default:hover, a.datepicker-button.default:focus {
    background-color: transparent !important;
}

i.far.fa-calendar-alt:hover, i.far.fa-calendar-alt:focus {
    color: var(--custom-accent-dark);
}

span#is-it-ongoing, span#make-anonymous, span#is-landline {
    pointer-events: none;
}
