{% extends "base.html" %}
{% block content %}
    <h1>File an Air Pollution Complaint</h1>
    <p>{{ form_about }}
    </p>
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>{{ form.anonymous() }} {{ form.anonymous.label }}</p>

    {% for field in [
        form.email,
        form.confirm_email,
        form.first_name,
        form.last_name,
        form.phone_number,
    ] %}
        {% with field=field %}
        {% include "complaint_form/_varchar_field.html" %}
        {% endwith %}
    {% endfor %}

    <p>{{ form.landline() }} {{ form.landline.label }}</p>

    {% for field in [
        form.street,
        form.city,
        form.state,
        form.zip,
    ] %}
        {% with field=field %}
        {% include "complaint_form/_varchar_field.html" %}
        {% endwith %}
    {% endfor %}

    <p>{{ form.type.label }}</p>
    <p>{{ form.type(size=1) }}</p>

    {% with field=form.observed_date %}
    {% include "complaint_form/_date_field.html" %}
    {% endwith %}

    <p>{{ form.ongoing() }} {{ form.ongoing.label }}</p>

    {% for field in [
        form.polluter_name,
        form.polluter_address,
        form.polluter_city,
        form.polluter_state,
        form.polluter_zip,
    ] %}
        {% include "complaint_form/_varchar_field.html" %}
    {% endfor %}

    {% with field=form.description %}
    {% include "complaint_form/_textarea_field.html" %}
    {% endwith %}

    <p>{{ form.consent_to_followup() }} {{ form.consent_to_followup.label }}</p>
    <p>{{ form.consent_to_campaign() }} {{ form.consent_to_campaign.label }}</p>

    <p>{{ form.send_complaint()}}</p>

    </form>
{% endblock %}